In [1]:
import pandas as pd
data = pd.read_csv("weather_march_2018.csv")

In [2]:
data.head(10)

        Date  Max  Min    Av Forecast
0   3/1/2018   64   47  55.5   Cloudy
1   3/2/2018   72   43  57.5   Cloudy
2   3/3/2018   75   50  62.5    Sunny
3   3/4/2018   72   63  67.5   Cloudy
4   3/5/2018   73   51  62.0   Cloudy
5   3/6/2018   69   41  55.0    Sunny
6   3/7/2018   62   38  50.0    Sunny
7   3/8/2018   72   43  57.5    Sunny
8   3/9/2018   78   52  65.0    Sunny
9  3/10/2018   85   63  74.0    Sunny

https://www.timeanddate.com/weather/usa/dallas/historic?month=3&year=2018

https://www.iweathernet.com/texas-dfw-weather-records

In [4]:
#Calculating initial probabilities
counts = data['Forecast'].value_counts().to_dict()
total_counts = data['Forecast'].count()
initial_prob ={}
for i in counts:
    prob_i = counts[i]/total_counts
    if i not in initial_prob:
        initial_prob[i] = prob_i

#Calculating transition probabilities
def get_bigrams(data):
    bigrams={}
    l = list(data)
    for j in range(1,len(l)):
        if(l[j-1],l[j]) in bigrams:
            bigrams[l[j-1],l[j]]+=1
        else:
            bigrams[l[j-1],l[j]]=1
    return(bigrams)
        
trans_prob ={}

bigrams = get_bigrams(data['Forecast'])
q = list(initial_prob.keys())

for i in range(len(q)):
    for j in range(len(q)):
        if (q[i],q[j]) in bigrams:
            if q[i] in trans_prob:
                trans_prob[q[i]][q[j]] = bigrams[(q[i],q[j])] / counts[q[i]]
            else:
                trans_prob[q[i]] = {}
                trans_prob[q[i]][q[j]] = bigrams[(q[i],q[j])] / counts[q[i]]
                
        else:
            if q[i] in trans_prob:
                trans_prob[q[i]][q[j]] = 0
            else:
                trans_prob[q[i]] = {}
                trans_prob[q[i]][q[j]] = 0

In [5]:
print("Initial Probabilities \n",initial_prob)
print("States \n", q)
print("Transition Probabilities \n",trans_prob)

Initial Probabilities
 {'Sunny': 0.54838709677419351, 'Cloudy': 0.32258064516129031, 'Foggy': 0.064516129032258063, 'Rainy': 0.064516129032258063}
States
 ['Sunny', 'Cloudy', 'Foggy', 'Rainy']
Transition Probabilities
 {'Sunny': {'Sunny': 0.70588235294117652, 'Cloudy': 0.17647058823529413, 'Foggy': 0, 'Rainy': 0.058823529411764705}, 'Cloudy': {'Sunny': 0.29999999999999999, 'Cloudy': 0.5, 'Foggy': 0.20000000000000001, 'Rainy': 0}, 'Foggy': {'Sunny': 1.0, 'Cloudy': 0, 'Foggy': 0, 'Rainy': 0}, 'Rainy': {'Sunny': 0, 'Cloudy': 0.5, 'Foggy': 0, 'Rainy': 0.5}}

In [11]:
in_str = input("Enter the input sequence: \n")
#Sunny Sunny Sunny Sunny Sunny Sunny

Enter the input sequence:
Sunny Sunny Sunny Sunny Sunny Sunny

In [12]:
string = in_str.split(" ")

In [13]:
def calc_probability(string,initial_prob,trans_prob):
    prob = 1
    prob *= initial_prob[string[0]]
    print("Probability when transiting from Start ->  "+string[0]+" = "+str(prob))
    for j in range(len(string)):
        print("Transition Probability of "+string[j-1]+" ---> "+string[j]+" = "+str(trans_prob[string[j-1]][string[j]]))
        prob *= trans_prob[string[j-1]][string[j]]
    return(prob)

In [14]:
prob = calc_probability(string,initial_prob, trans_prob)
print("The probability of the sequence ["+in_str+"] occurring = ", prob)

Probability when transiting from Start ->  Sunny = 0.548387096774
Transition Probability of Sunny ---> Sunny = 0.705882352941
Transition Probability of Sunny ---> Sunny = 0.705882352941
Transition Probability of Sunny ---> Sunny = 0.705882352941
Transition Probability of Sunny ---> Sunny = 0.705882352941
Transition Probability of Sunny ---> Sunny = 0.705882352941
Transition Probability of Sunny ---> Sunny = 0.705882352941
The probability of the sequence [Sunny Sunny Sunny Sunny Sunny Sunny] occurring =  0.0678392715014